@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body{
    background-color:#000000;
}

.rpv-core__icon {
    fill: white!important;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    text-align: center;
}

.rpv-core__minimal-button{
    color:white;
    fill: white;

}


.rpv-zoom__popover-target{
     color:white;
}


.rpv-zoom__popover-target-scale,.rpv-zoom__popover-target-scale--ltr{
 color:white;
}

.rpv-zoom__popover-target-arrow{
 color:white;
}