@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


input[type="file"] {
width: 90px; /* Keep it under 100px in order to hide the unwanted text. */
}

.rpv-core__icon {
    fill: white!important;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    text-align: center;
}

.rpv-core__minimal-button{
    color:white;
    fill: white;

}


.rpv-zoom__popover-target{
     color:white;
}


.rpv-zoom__popover-target-scale,.rpv-zoom__popover-target-scale--ltr{
 color:white;
}

.rpv-zoom__popover-target-arrow{
 color:white;
}

.glassmorphism{/* From https://css.glass */
background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);}